/* example of a shared style file, working in progress  */

body {
  background-color: lightblue;
}; 

/* the whole page */
.at-screen {
  background-color: lightblue;
}; 

.at-page a {
  color: greenyellow;
}

.at-profile {
  padding: auto;
}

.at-avatar {
  padding: auto;
}

.at-handle {
  padding: auto;
}

.at-view {
  padding: auto;
}

.at-wrap {
  padding: auto;
}

.at-desc {
  padding: auto;
}

.at-links {
  padding: auto;
}

.at-link {
  padding: auto;
}

.at-ico {
  padding: auto;
}

.at-box {
  padding: auto;
}

.at-card {
  padding: auto;
}

/* the meta bar of a card */
.at-meta {
  padding: auto;
}

/* the avatar image thumbnail */
.at-ava {
  padding: auto;
}

.at-hdl {
  padding: auto;
}

.at-date {
  padding: auto;
}

.at-kind {
  padding: auto;
}

.at-title {
  padding: auto;
}

.at-title-link {
  padding: auto;
}

.at-images {
  padding: auto;
}

.at-image {
  padding: auto;
}

.at-ctn {
  padding: auto;
}

.at-btm {
  padding: auto;
}

#at-toast {
  padding: auto;
}

/* for specific service: 
at-card-*,
at-meta-*,
at-ava-*, 
at-hdl-*,
at-date-*, 
at-kind-*,
at-title-*,
at-title-link-*,
at-images-*,
at-image-*,
at-ctn-*,
*/

/* for specific link: 
at-link-*,
at-ico-*,
*/
