body {
  background-color: #23383a;
}
.at-page {
  max-width: 520px;
}
.at-card {    
  position: relative;
  padding: 16px;
  margin: 10px auto;
  background: lightblue;
  word-break: break-word;
  border-radius: 8px;
  box-sizing: border-box;
}
.at-title {
  color: #b0f;
}